@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html,body{

    margin: 0px;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
html{
    height: 100%;
    width: 100%;
}

body{
    
    height: 100vh;
    overflow-y: hidden;
    scroll-snap-type: block;
    scroll-snap-type: y mandatory;


    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar{
    width: 0px;
}

header{
    width: 100%;
    min-height: 15%;

    background-color: #1F857E;
    display: flex;
    flex-direction: column;

}

.inner-header{
    background-color: white;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 500px){
    .inner-header{
        flex-direction: row;
    }
}



.header-topper{
    height: 20px;
    background-color: #1F857E;
    padding: 0 5px;
}
.header-topper>ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-size: small;
    color: white;
    list-style: none;
    text-decoration: none;
}

.clean-link{
    color: white;
    text-decoration: none;
}
.clean-link.black{
    color: black;
}

.clean-link:visited{
    color: white;
    text-decoration: none;
}
.clean-link.black:visited{
    color: black;
}

.header-bottom{
    height: 20px;
    background-color: #1F857E;
    
}
.logo-svg{
    margin-left: 10px;
    align-self: flex-start;
}

.title-name{
    padding: 0px;
    display: inline;
    font-weight: inherit;
    white-space: nowrap;
    height: 100%;
    display:flex;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    min-height: 0;

    flex-grow: 2;
    flex-shrink: 2;
    justify-content: center;
    align-items: center;
}
.left-align{
    align-items: start;
}

.content-text{
    justify-self: flex-start;
    align-self: flex-start;
    margin: 10px;
    font-size: large;
}
@media (min-width: 500px){
    .content-text{
        margin: 10px 100px;
    }
}

.sign-in-wrapper{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}
.sign-in{
    border-radius: 10px;
    padding: 0;
    font-size: x-large;
    cursor:pointer;
    padding: 15px;
    background-color: whitesmoke;
    margin: 20px 20px 0 20px;
}
.sign-in:hover{
    background-color: #1F857E;
}
.sign-in-image{
    height: 20px;
    padding-top: 5px;
}





.footer-topper{
    height: 10px;
    background-color: #1F857E;
}
.images{
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;

}
.footer-logo-wrapper{
    display: block;
    margin: 0 10px;
    width: 120px;
    flex-basis: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    max-height: 40px;
}

.Start-button{
    background-color: #1F857E;
}
.back{
    background-color: #1F857E;
    border-radius: 5px;
    padding: 15px;
    font-size:x-large;
    cursor:pointer;
    padding: 5px;
    margin: 5px;
    margin-left: 3vw;
}

.button-control-group{
    width:120px;
    position: fixed;
    bottom: 0;
    left: calc(50% - 60px);
    margin-bottom: 17px;
    z-index: 100;
    
    /* display: none; */
    justify-content: space-evenly;
}

.button-control-group>button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin:5px;
    border: none;
    opacity: 50%;
    background-color: #1F857E;
    cursor: pointer;
}
.button-control-group>button:hover{
    opacity: 100%;
}

.button-control-group>button>svg{
    width: 90%;
    height: 90%;
}
.button-control-group[data-shown="false"]{
    display: none;
}

.unstyledButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}


/* 
 _____        _          _____      _       
|  __ \      | |        |  __ \    (_)      
| |  | | __ _| |_ __ _  | |  | |___ _ _ __  
| |  | |/ _` | __/ _` | | |  | / __| | '_ \ 
| |__| | (_| | || (_| | | |__| \__ \ | |_) |
|_____/ \__,_|\__\__,_| |_____/|___/_| .__/ 
                                     | |    
                                     |_|    */


.block{
    scroll-snap-align: start;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}



.block-title{
    background-color: #1F857E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-title>svg{
    width: 15vw;
    height: 15vw;
    margin: 10px;
}
.block-title>h1{
    font-size: 200%;
    margin: 0px;
}



.block-results{
    background-color: white;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: min(4vw, 2vh);

    scroll-snap-type: block;
    scroll-snap-type: x mandatory;

}
.block-results::-webkit-scrollbar{
    width: 0px;
}
.block-results-page{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;

    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    scroll-snap-align: start;
}

.pre-span .post-span{
    font-size: 100%;
}
.primary-span{
    font-size: 400%;
    font-weight: 800;
    margin:0 15px 0 15px;
}
.result-group.row-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.pre-span {
    margin-top: 10px;
}
.post-span{
    align-self: flex-end;
    margin-bottom: 10px;
}
.result-group.column-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.result-group.column-results>.row-results{
    padding: 0px;

}
.result-group.column-results .primary-span{
    font-size: 200%;
}
img.result-group{
    min-width: 10px;
    min-height: 10px;
    max-width: 95%;
    flex-shrink: 1;
    object-fit: contain;
}


.content-text>a{
    color: black;
    font-weight: 600;
}

@media (min-width: 500px){
    .block-title{
        width: 35%;
        height: 100%;
        order: 0;
    }
    .block-title>h1{
        font-size: 200%;
    }
    .block-results{
        width: 65%;
        height: 100%;
        order: 1;
        font-size: min(3vw, 4vh);
    }
    .result-block{
        display: flex;
        flex-direction: row;
    }

    .result-block:nth-child(2n-1)>.block-title{
        order: 2;
    }
}
@media (min-width: 750px){
    .block-results{
        font-size:  min(3.5vw, 3.5vh);
    }
    .block-title>h1{
        font-size: 300%;
    }
    .result-group-separate>.pre-span{
        margin-right: 100px;
    }
    .result-group-separate>.result-group-Sentence{
        margin-left: 100px;
    }
}
@media (min-width: 1000px){
    .block-results{
        font-size: min(4vw,3.5vh);
    }
    .block-title>h1{
        font-size: 400%;
    }
    .result-group-separate>.pre-span{
        margin-right: 200px;
    }
    .result-group-separate>.result-group-Sentence{
        margin-left: 200px;
    }
}
/* 
             _                 _   _             
            (_)               | | (_)            
  __ _ _ __  _ _ __ ___   __ _| |_ _  ___  _ __   
 / _` | '_ \| | '_ ` _ \ / _` | __| |/ _ \| '_ \ 
| (_| | | | | | | | | | | (_| | |_| | (_) | | | |
 \__,_|_| |_|_|_| |_| |_|\__,_|\__|_|\___/|_| |_| */

 .block-title>svg,
 .block-title>h1
{
    opacity: 0;
}
.block-title[data-shown="true"]>svg,
.block-title[data-shown="true"]>h1
{
   transition: opacity 2s 1s;
   opacity: 1;
}


.block-results-page>.result-group{
    opacity: 0;
}
.block-results-page[data-shown="true"]>.result-group{
    opacity: 1;
}

.block-results-page[data-shown="true"]>.result-group:nth-child(1){
    transition: opacity 1s 0s ease-in;
}
.block-results-page[data-shown="true"]>.result-group:nth-child(2){
    transition: opacity 1s 2s ease-in;
}
.block-results-page[data-shown="true"]>.result-group:nth-child(3){
    transition: opacity 1s 4s ease-in;
}
.block-results-page[data-shown="true"]>.result-group:nth-child(4){
    transition: opacity 1s 6s ease-in;
}
.block-results-page[data-shown="true"]>.result-group:nth-child(5){
    transition: opacity 1s 8s ease-in;
}
.block-results-page[data-shown="true"]>.result-group:nth-child(6){
    transition: opacity 1s 10s ease-in;
}



.monospace{
    overflow-y: scroll;
    height: 100%;
    width: calc(100% - 8vw);

    font-family: "Lucida Console";
    font-size: medium;

    margin: 3vw;
    margin-top: 0;
    padding: 1vw;
    border: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

    word-wrap: normal;
    white-space: pre-wrap;
}
/* .monospace::-webkit-scrollbar{
    border-radius: 5px;
} */

.info{
    padding: 2em;
    text-align: start;
}

.citations{
    font-family: "Lucida Console";
    font-size: small; 
    white-space: pre-wrap;
}

@keyframes loading {
    from {width: 5vw;}
    to {width: 100%;}
}
.loading-bar{
    width: 50vw;
    height: 50px;

    border-radius: 25px;
    border: 2px solid black;
}
.loading-bar-fill{
    width: 5vw;
    height: 50px;
    background-color: #1F857E;
    border-radius: 25px;

    animation: loading 10s linear infinite;
}


.Kone-spinner{
    width: 15vw;
    height: auto;
}

.share-button{
    white-space: nowrap;
    background-color: #1F857E;
    margin-top: 0;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0;
    border: none;
}

.share-wrapper{
 display: flex;
 flex-direction: row;
 margin-top: 20px;
}

.share-link{
    border: black 2px solid;
    padding: 15px;

    border-left: none;
    border-right: none;
    flex-grow: 1;
    width: 50vw;
}

.share-link-copy{
    padding: 0;
    border: black 2px solid;
    border-radius: 0px 5px 5px 0px;
    background-color: none;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi-clipboard{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.error{
    width: 100%;
}
.error-innder{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: xx-large;
}


@media (max-width: 500px){
    .citations{
        font-size: xx-small;
    }
    .lower-footer{
        display: none;
    }
    .lower-header{
        padding: 10px;
        margin:0 ;
    }

    .share-wrapper{
        flex-direction: column;
        align-items: stretch;
        width: 80vw;
    }

    .share-button{
        background-color: #1F857E;
        margin: 0;
        border-radius: 5px 5px 0px 0px;
    }

    .share-link{
        border-top: none;
        border-bottom: none;
        width: auto;
        border-left: black 2px solid ;
        border-right: black 2px solid ;
    }
    
    .share-link-copy{
        margin: 0;
        border: black 2px solid;
        aspect-ratio: auto;
        border-radius: 0px 0px 5px 5px;
    }
}